<div class="our-team">
        <img class="deco" src="assets/image/ou-team-bg.svg" alt="">
        <h2 class="base-title text-center">
            Our team
        </h2>
        <div class="team-flex flex flex-wrap justify-center">
            <div class="team">
                <div class="pix"></div>
                <h3 class="uppercase">Jennifer <br> Tarzia</h3>
                <p class="uppercase func">CEO</p>
            </div>
            <div class="team">
                <div class="pix"></div>
                <h3 class="uppercase">Chelsea <br>
                    Brigham
                    </h3>
                <p class="uppercase func">Director of Operations</p>
            </div>
            <div class="team">
                <div class="pix"></div>
                <h3 class="uppercase">Christian<br> 
                    Farr
                    </h3>
                <p class="uppercase func">Behavioral Advisor</p>
            </div>
            <div class="team">
                <div class="pix"></div>
                <h3 class="uppercase">Brad <br>
                    Osborn
                    </h3>
                <p class="uppercase func">Behavioral Advisor</p>
            </div>
            <div class="team">
                <div class="pix"></div>
                <h3 class="uppercase">Zach <br>
                    Schulze
                    </h3>
                <p class="uppercase func">Behavioral Advisor</p>
            </div>
        </div>
    </div>