<div class="wrap">
    <div class="family-coaching-definition">
        <h2>{{ block.title }}</h2>
        {% for item in block.list_item %}
            <div class="item">
                <div class="bg"><img src="{{ item.background_image.url }}" alt=""></div>
                <div class="card">
                    <div class="inner">
                        <h3>{{ item.title }}</h3>
                    <p>
                        {{ item.content }}    
                    </p>
                    </div>
                </div>
            </div>            
        {% endfor %}

    </div>
</div>