<div class="wrap">
    <div class="family-coaching-definition">
        <h2>{{ block.title }}</h2>
        {% for item in block.list_item %}
            <div class="item">
                <div class="bg"><img src="{{ item.background_image.url }}" alt=""></div>
                <div class="card">
                    <div class="inner">
                        <h3>{{ item.title }}</h3>
                    <p>
                        {{ item.content }}    
                    </p>
                    </div>
                </div>
            </div>            
        {% endfor %}
        {# <div class="item">
            <div class="bg"><img src="{{theme.link}}/assets/image/balance.png" alt=""></div>
            <div class="card">
                <div class="inner">
                    <h3>Balance</h3>
                <p>Family coaching with Doyen Consulting Group helps you find the delicate balance between taking care of yourself and implementing different ways of engaging, communicating and supporting your loved one, all to increase the probability of making sustainable change.  </p>
                </div>
            </div>
        </div>        

        <div class="item">
            <div class="bg right"><img src="{{theme.link}}/assets/image/educational.png" alt=""></div>
            <div class="card">
                <div class="inner"><h3>Educational</h3>
                    <p>Family coaching with Doyen Consulting Group helps you find the delicate balance between taking care of yourself and implementing different ways of engaging, communicating and supporting your loved one, all to increase the probability of making sustainable change.  </p></div>
            </div>
        </div>         #}

    </div>
</div>