.light-blue-bg{
  background: $light-blue;
  padding: 30px 0 0;
}
.block-text-image{
  color: $dark-blue;
  display: flex;
  align-items: center;
  .block-content{
    max-width:33%;
    h2{
      margin-top: 0;
    }
  }
  .block-image{
    img{
      display: block;
    }
  }
}