
{% block header %}
    <div class="header-bg">
        <div class="wrapper max-w-screen-xl mx-auto">
            <header>
                <div class="logo float-left">
                    <a href="{{ site.url }}"><img src="assets/image/logo-white.svg" alt="Doyen"></a>
                </div>
                <nav class=>
                    <ul class="flex justify-end">
                        <li><a href="who-we-are.html">Who we are</a></li>
                        <li><a href="">What we believe</a></li>
                        <li><a href="what-we-do.html">What we do</a></li>
                        <li><a href="">How we do</a></li>
                        <li><a href="">Contact us</a></li>
                    </ul>   
                </nav>
            </header>
    
        </div>
    </div>
{% endblock %}

    