{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="signature-process.twig">
    <a class="skip-link screen-reader-text" href="#content">{{ _e( 'Skip to content') }}</a>
    

    <div class="black-header ">
        {% block header %}
            <div class="header-bg ">
                <div class="wrapper max-w-screen-xl mx-auto">
                    <header>
                        <div class="logo float-left">
                            <a href="{{site.url}}"><img src="{{theme.link}}/assets/image/logo-white.svg" alt="{{site.name}}"></a>
                        </div>

                        <nav id="nav-main" class="nav-main" role="navigation">
                            {% include "menu.twig" with {'items': menu.get_items} %}
                            <div class="hamburger">
                                <span class="bar"></span>
                                <span class="bar"></span>
                                <span class="bar"></span>
                            </div>
                        </nav><!-- #nav -->

                    </header>
            
                </div>
            </div>
        {% endblock %}
    
    </div>

    <div class="basic-hero-area signature flex" style="background-image: url('{{ post.thumbnail.src }}');">
        <h1>{{ post.title }}</h1>
        <p>
            Families use Doyen’s Signature Process to intercede on a crisis affecting their family or a loved one. <br/>   
They often feel like they have tried everything or have no idea where to start. 
If this resonates with you, our Signature Process may be for you. 
        </p>
    </div>

    {% include "templates/block/block-logic.twig" %}

    {% block footer %}
        {% include 'footer.twig' %}
        {{ function('wp_footer') }}
    {% endblock %}
	</body>
</html>
